@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;

}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; 

  /* Prevents horizontal scrolling */
}

a {
  text-decoration: none;
  color: inherit;
}

.app,#root{
  width: 100%; /* Ensures the app container spans full width */
  max-width: 100%; /* No upper width limit */

}

@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%
  {
    opacity:1;
  }
}